.navbar__cont{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #F4F1EA;
    padding: 0 5em;
}

.menu__logo{
    width: 10em;
    margin-top: 10px;
    margin-right: 2em;
}

.navbar__cont > div{
    flex: auto;
    display: flex;
    justify-content: left;
}

.menu{
    width: auto;
    padding: 1em 0;
    position: relative;
    display: inline-block;
}

.menu :hover{
    background-color: #382110;
    color: white;
}

.menu :hover +.dropdown_content{
    display: block;
}

.dropdown_content:hover{
    display: block;
    color: black;
    background-color: white;
    
}

.dropdown_link{
    text-decoration: none;
    color: black;
}

.dropdown_link:hover{
    text-decoration: underline;
    background-color: white;
    color: black;
}


.menu__link{
    text-decoration: none;
    text-decoration: none;
    color: #3D2716;
    padding: 1em;
}

.navbar__search{
    margin: 5px 0;
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 1em;
}

.menu__icon i{
    font-size: 1em;
    color: #F9F7F3;
    padding: 0.5em;
    background-color: #BAAC9A;
    border-radius: 100%;
    margin: 0.5em 0.5em;
}

.menu__icon :hover + .dropdown_content{
    display: block;
    right: 5em;
}

.navbar__left{
    justify-content: left;
}

.navbar__left img{
    width: 100%;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    line-height: 2em;
}


