
.post{
    border: 1px solid #D8D8D8;
    border-radius: 3px;
    margin: 1em 0;
    background-color: white;
}

.post_profile{
    float: left;
    display: block;
    margin-top: 10px;
    margin-left: -25px;
    
}

.post_profile img{
    width: 3.5em;
    height: 3.5em;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #D8D8D8;
}

.post__top{
    margin-bottom: 10px;
}

.post__main{
    display: flex;
}

.post__cont{
    margin-left: 1.5em;
    line-height: 1.5em;
    padding: 1em;
}

.main__content{
    margin-left: 0.8em;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 10; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.like_comment button{
    border: none;
    background-color: white;
}
.like_comment button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.post__bottom{
    padding: 0.5em;
    border-top: 1px solid #D8D8D8;
    background-color: #F3F3F3;
}

.post__bottom i{
    font-size: 1em;
    color: #F9F7F3;
    padding: 0.5em;
    background-color: #BAAC9A;
    border-radius: 100%;
}

.post__bottom input{
    padding: 10px 20px;
    margin: 0.5em 1em;
    width: 90%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.comment_user{
    display: flex;
    margin: 0.3em;
}

.comment_user img{
    width: 90%;
    margin: auto;
    border-radius: 100%;
}

/* .comment_user p{
    margin-top: 1em;
} */

.comment_user_profile{
    flex-basis: 3em;   
}

.comment_user_profile img{
    width: 40px;
    height:40px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid #D8D8D8;
}

.comment_comment{
    margin-left: 0.5em;
}

.current_comment{
    display: flex;
}

.comment_current_profile{
    flex-basis: 3em;
    padding: 0.5em;
}

.comment_current_profile img{
    width: 40px;
    height:40px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid #D8D8D8;
}

.comment_current_input{
    flex: 1;
}

.comment_current_input input{
    margin-top: 10px;
}



