h3{
    font-family: 'Lato', sans-serif;
}

.home__cont{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.home__left{
    flex-basis: 30em;
    padding: 0 1em 0 2em;
}

.home__mid{
    flex-basis: 50em;
}

.home__right{
    flex-basis: 30em;
    padding: 0 1em;
}

/* .time_stamp{
    float: right;
} */

.post{
    border: 1px solid #D8D8D8;
    border-radius: 3px;
    margin: 1em 0;
    background-color: white;
}

.post_profile{
    float: left;
    display: block;
    margin-top: 10px;
    margin-left: -22px;
    font-size: 1.5em;
    color: #F9F7F3;
    padding: 0.5em;
    background-color: #BAAC9A;
    border-radius: 100%;
}

.post__top{
    margin-bottom: 10px;
}

.post__main{
    display: flex;
}

.home__cont h4, h3{
    font-family: 'Lato', sans-serif;
    color: #333333;
}

.home__cont p{
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    color: #575757;
}

.post__cont{
    margin-left: 1.5em;
    line-height: 1.5em;
    padding: 1em;
}

.main__content{
    margin-left: 0.8em;
}

.like_comment button{
    border: none;
    background-color: white;
}
.like_comment button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.post__bottom{
    padding: 0.5em;
    border-top: 1px solid #D8D8D8;
    background-color: #F3F3F3;
}

.post__bottom i{
    font-size: 1em;
    color: #F9F7F3;
    padding: 0.5em;
    background-color: #BAAC9A;
    border-radius: 100%;
}

.post__bottom input{
    padding: 10px 20px;
    margin: 0.5em 1em;
    width: 90%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.horizontal_rule{
    margin: 1em 0;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.right__cards{
    margin: 0 1em ;
}

.footer{
    line-height: 1.7em;
}

.footer__cont{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.socials i{
    font-size: 2em;
    margin-right: 7px;
    color: #A2A19F;
}

.bookshelves{
    line-height: 1.5em;
}

.bookshelves h4{
    margin-bottom: 10px;
}

