.colorBlue
{
    color: #00635d;
}
.heading
{
    margin-left: 290px;
}
.heading p{
    margin-top: 10px;
}

.ChatMainBox
{
    height: 500px;
    width: 750px;
    background-color:#F4F1EA ;
    margin: 0;
    margin:  20px auto;
    overflow: auto;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}
.dummy
{
    height: 10px;
    width: 100%;
}
.chatbox
{
    height: fit-content;
    width: fit-content;
    margin-left: 20px;
    margin-top:20px;
}
.chatbox2
{
    height: fit-content;
    width: fit-content;
    margin-left: 450px;
    margin-top:20px;
    clear: both;
}
.imgBox
{
    height: 100%;
    width: 100px;
    float: left;
}
.imgBox>img{
    height: 50px;
    width: 50px;
    margin-left: 25px;
    margin-top: 28px;
    border-radius: 50%;
    object-fit: cover;
}
.personName
{
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 20px;
}
.message
{
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.time
{
    font-size: 10px;
    opacity: 0.5;
}
.personName2
{
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 20px;
    text-align: right;
}
.time2
{
    font-size: 10px;
    opacity: 0.5;
    margin-right: 10px;
    text-align: right;
}
.contentBox
{
    float: left;
    height: 100%;
    width: fit-content;
    background-color: #579ffb;
    border-radius: 10px 10px 10px 0px;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
.contentBox2
{
    float: left;
    height: 100%;
    width: fit-content;
    background-color: #579ffb;
    border-radius: 10px 10px 0px 10px;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
.contentBox p{
    margin-left: 10px;
}
.inputBox
{
    height: 75px;
    width: 750px;
    background-color:#F4F1EA ;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}
.inputBox>input
{
    padding: 10px;
    width: 600px;
    margin-left: 30px;
    margin-top: 20px;
    border: none;
    background-color: #dbd9d4 ;
    outline: none;
    border-radius: 3px;
}
.inputBox>button
{
    padding: 10px;
    margin-left: 10px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: rgb(0, 196, 65);
}
.inputBox>button:hover{
    background-color: rgb(1, 214, 72);
}