.container{
    width:660px;   
    margin:0px 20px 20px 20% ;
}

.container > h3{
    margin:0px 0px 20px; 
    border-bottom: 2px solid #D7D7D7;
    padding-bottom: 10px;
}

.bookContainer{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

.img{   
    width : 110px;
    height:180px;
    object-fit: cover;
    margin:8px 10px;
}

.linkDiv{
    text-align: right;
    padding-right: 20px;
}

.link{
    color: #006367;
    font-size: 14px;
    font-weight: 500;
}