.container {
  clear: both;
  height: 250px;
  width: 100%;
  background-color: #f4f1ea;
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin-top: 20px;
}
.Box {
  height: 250px;
  width: 200px;
  padding-left: 30px;
}
p {
  font-size: 15px;
}
