.cont{
    width: 75%;
    margin: 5em auto;
}

.cont__flex{
    display: flex;
}

.cont__filter{
    margin: 2em;
}

.cont__main{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 2em;
}

.filter_btn{
    background-color: white;
    border: none;
}